<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <title>Add Blog</title>
</head>

<body>
    <%- include('./partials/nav') %>

        <div class="container mt-5">
            <form action="/blog" method="post" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Add Title</label>
                    <input type="text" class="form-control" name="title" id="title" aria-describedby="title" placeholder="Enter Title">
                </div>
                <div class="mb-3">
                    <label for="body">Body</label>
                    <textarea class="form-control" placeholder="Enter Body Content" name="body" id="body"></textarea>
                </div>
                <div class="mb-3">
                    <label for="coverImageUrl" class="form-label">Cover Image</label>
                    <input type="file" class="form-control" name="coverImageUrl" id="coverImageUrl" aria-describedby="coverImageUrl" placeholder="Enter coverImageUrl">
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Primary</button>
                </div>
            </form>
        </div>

        <%- include('./partials/scripts.ejs') %>
</body>

</html>